<html>
	<link rel="stylesheet" href="/bootstrap.min.css">
	<body>
		<h3 class="text-center" style="text-decoration:underline">Ruby Questions</h3>
		<ul class="unstyled text-center">
		<% @rubyQuestions.each do |question| %>
			<li><a href="http://stackoverflow.com<%= question.attributes['href'] %>" ><%= question.text %></a></li>
		<% end %>
		</ul>
		<hr>
		<h3 class="text-center" style="text-decoration:underline">Git Questions</h3>
		<ul class="unstyled text-center">
		<% @gitQuestions.each do |question| %>
			<li><a href="http://stackoverflow.com<%= question.attributes['href'] %>" ><%= question.text %></a></li>
		<% end %>
		</ul>
	</body>
</html>
